/* VARIABLES */
$border-color: #FBDE3F
$background-color: orange
body
  background: url(/images/ltgraydk.gif)
  margin-left: auto
  margin-right: auto
header
  border: 2px solid $border-color
  padding: 10px
  height: 2em
  background: $background-color
  #logo
    font-family: 'VT323'
    font-size: 52px
    float: left
  #menu
    float: right
    padding-top: 10px
    ul
      list-style-type: none
      li
        display: inline
        padding-left: 5px
        font-weight: bold
        font-family: "Helvetica Neue", "Helvetica", sans-serif
        font-size: 14px
        a
          text-decoration: none
          border-bottom: 1px solid white
          text-shadow: #DDD 1px 1px
        a:hover
          border-bottom: 1px solid #000
#content
  background: white
  padding: 10px
  border-left: 2px solid $border-color
  border-right: 2px solid $border-color
  li
    margin-left: 2em
  font-size: 13px
  line-height: 15px
footer
  background: $background-color
  padding: 5px
  font-size: 12px
  border-top: 2px solid $border-color
  border-left: 2px solid $border-color
  border-right: 2px solid $border-color
  border-bottom: 2px solid $border-color
  #right
    text-align: right
    float: right
  #left
    float: left
    a
      text-decoration: none
.field_with_errors
  input,
  select
    display: inline
    border: 2px solid red
table.instrument_properties
  float: left
#INST_Table
  display: none
  float: left
  margin-left: 6em
#INST_Table_Show
  float: left
  margin-left: 6em
td.row_value
  background-color: #E0E0E0
table.wave_synth
  margin-left: 6em
  float: left
.right_sidebar
  float: right
  width: 150px
.infos_box
  float: left
.sample_box
  float: right