= form_for @instrument do |f|
  = f.label :type
  = f.select :type, ["NOISE", "PULSE", "WAVE"], {}, {:selected => @instrument.type, :onchange => 'changeINStype(this.options[this.selectedIndex].value)'}