%h3
  Instruments

%table
  %tr
    %th{:width => "50%", :align => :left}
      %span.small Name
    %th{:width => "50%", :align => :left}
      %span.small Type
    %th{:width => "50%", :align => :left}
      %span.small Author
  - @instruments.each do |instr|
    %tr
      %td.small{:width => "50%"}= link_to instr.name, instr
      %td.small{:width => "50%"}= link_to instr.type, types_path(instr.type)
      %td.small{:width => "50%"}= link_to instr.author, author_path(instr.author)

%br
= paginate @instruments